<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.hhh.commonlib.swlog" >

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application >
        <!--debug-->
        <activity
            android:name=".activity.CrashActivity"
            android:label="错误日志"/>
    </application>
</manifest>
