<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hhh.commonlib.filephoto">
    <!--&lt;!&ndash;调用相机权限&ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->
    <!--&lt;!&ndash; 往SDCard写入数据权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--&lt;!&ndash;  从SDCard读取数据权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<application>-->
        <!--&lt;!&ndash;7.0需要的Uri权限提供&ndash;&gt;-->
        <!--<provider-->
            <!--android:name="android.support.v4.content.FileProvider"-->
            <!--android:authorities="${applicationId}.fileprovider"-->
            <!--android:exported="false"-->
            <!--android:grantUriPermissions="true">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/file_paths" />-->
        <!--</provider>-->
    <!--</application>-->
</manifest>
